@import "src/common/color";
@import "src/common/size";

.container {
  display: flex;
  background-color: $mandalaColor1;
  width: $mobileMandala;
  height: $mobileMandala;
  flex: 1 1 33%;
  justify-content: center;
  align-items: center;
}
