@import 'src/common/size';
@import 'src/common/color';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: $mediumMandala;
  height: $mediumMandala;
  border: 0.4px solid #818181;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.container:hover {background-color:#929292;}

.selected {border:2px solid red!important;}

.title {
  width: 100%;
  max-height: 100%;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
  text-align: center;

}

@media screen and (min-width: $large){
  .container {
    height: $largeMandala;
    width: $largeMandala;
  }
}

@media screen and (min-width: $extraLarge){
  .container {
    height: $extraLargeMandala;
    width: $extraLargeMandala;
  }
}