@import 'src/common/size';
@import 'src/common/color';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: $mediumMandala;
  height: $mediumMandala;
  border: 0.4px solid #818181;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.selected {border:2px solid red!important;}

.container:hover {
  background-color: #929292;
}

@media screen and (min-width: $large){
  .container {
    height: $largeMandala;
    width: $largeMandala;
  }
}

@media screen and (min-width: $extraLarge){
  .container {
    height: $extraLargeMandala;
    width: $extraLargeMandala;
  }
}