@import 'src/common/size';

.container {
  display: flex;
  flex-wrap: wrap;
  width: $mediumMandala*9;
  height: $mediumMandala*9;
  background: black;
}

@media screen and (min-width: $large){
  .container {
    height: $largeMandala*9;
    width: $largeMandala*9;
  }
}

@media screen and (min-width: $extraLarge){
  .container {
    height: $extraLargeMandala*9;
    width: $extraLargeMandala*9;
  }
}
