@import 'src/common/size';
@import 'src/common/color';

.color1 {background-color:$mandalaColor1;}
.color2 {background-color:$mandalaColor2;}
.color3 {background-color:$mandalaColor3;}
.color4 {background-color:$mandalaColor4;}
.color5 {background-color:$mandalaColor5;}

.container {
  display: flex;
  flex-wrap: wrap;
  width: $mediumMandala*9;
  height: $mediumMandala*9;
  background: black;
}

@media screen and (min-width: $large){
  .container {
    height: $largeMandala*9;
    width: $largeMandala*9;
  }
}

@media screen and (min-width: $extraLarge){
  .container {
    height: $extraLargeMandala*9;
    width: $extraLargeMandala*9;
  }
}
