@import "src/common/size";
@import "src/common/color";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.titleInputContainer, .descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description {
  margin: 0.5rem 0;
  width: 90%;
  height: 150px;
  resize: none;
}

.titleInput {
  margin: 0.5rem 0;
  width: $mobileMandala;
  height: $mobileMandala;
}
