$mainColor1: #BFBAB0;
$mainColor2: #A69E94;
$mainColor3: #F2EADF;
$mainColor4: #D9D1C7;
$mainColor5: #8C8480;

$mandalaColor1: #F2D4AE;
$mandalaColor2: #A69286;
$mandalaColor3: #593F36;
$mandalaColor4: #735448;
$mandalaColor5: #D9C6BF;
