$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

// 한번에 제대로 보이는것 3*3개
$mobileMandala: 84px;

// 한번에 제대로 보이는것 9*9개
$mediumMandala: 50px;
$largeMandala: 70px;
$extraLargeMandala: 90px;

$mobileMap: 84px;
$mobile_header: 50px;
$mobile_desc_width: 250px;
