$small: 576px;
$medium: 768px;
$large: 1300px;
$extraLarge: 1500px;

// 한번에 제대로 보이는것 3*3개
$mobileMandala: 84px;

// 한번에 제대로 보이는것 9*9개
$mediumMandala: 50px;
$largeMandala: 60px;
$extraLargeMandala: 60px;

$mobileMap: 84px;
$mobileHeader: 50px;
$mobileDescWidth: 250px;

$mandalaUnitCount: 3;
